.collectionscontainer {
    width: 100%;
    background-color: rgb(251, 251, 255);
}

.collectionscontainer .addcollectiondiv {
    margin-top: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.collectionscontainer .box {
    background-color: white;
    border-radius: 5px;
}

.collectionscontainer .box .search {
    /* margin-left: 4px; */
    width: 100%;
    /* border-radius: 5px; */
    text-indent: 30px;
}

.collectionscontainer .row .col-md-1 {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 2px !important;
    max-width: 100%;
}

.collectionscontainer .filterbtns {
    width: 100%;
    height: 100%;
    text-align: center;
}

.collectionscontainer .savedbtn {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
}

.collectionscontainer .addcollectiondiv .createbtn {
    background: none;
    border: 1px solid #bcc2c1 !important;
    color: black;
    border-radius: 0 !important;
    text-decoration: none;
}

.collectionscontainer .addcollectiondiv .createbtn:hover {
    background: black;
    color: white !important;
}

.collectionscontainer .row1 {
    margin: 10px;
    padding: 20px;
}

.collectionscontainer .row2 {
    /* margin: 20px 0; */
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid #bcc2c1;
}

.collectionscontainer .row3 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    padding-bottom: 10px;
}

.collectionscontainer .box .searchdiv .searchicon {
    position: absolute;
    top: 5px;
    left: 5px;
}

.collectionscontainer .box .searchdiv {
    position: relative;
}